<div class="container my-5">
  <div class="row">
    <div class="col text-center">
      {{#if success}}
      <p class="alert alert-success">{{message}}</p>
      {{else}}
      <p class="alert alert-danger">{{{message}}}</p>
      {{/if}}
      <a href="/" class="btn btn-primary">Go to Home</a>
    </div>
  </div>
</div>
