<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">User</a></li>
      <li class="breadcrumb-item active">Forgot Password</li>
    </ul>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<div class="login">
  <div class="container">
    <div class="section-header">
      <h3>Forget Password</h3>
      {{#if done}}

      <p>
        We have sent you a link to reset your password. Please check your
        email.
      </p>
        {{else}}
      <p>
        Enter your email address and we will send you a link to reset your
      </p>
        {{/if}}
    </div>
    {{#unless done}}
    <div class="row">
     

      <div class="col-md-12">
        <form action="/user/forget" method="POST" id="forgetForm">
          <div class="register-form">
            <div class="row">
             
              <div class="col-md-6">
                <label>E-mail</label>
                <input
                  required
                  class="form-control"
                  type="email"
                  placeholder="E-mail"
                  name="email"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
                />
              </div>
              
              {{#if message}}

              <div class="col-md-12">
                <div class="alert alert-danger mt-3" role="alert">
                  {{{message}}}
                </div>
              </div>
              {{/if}}
              <div class="col-md-12">
                <button class="btn">Submit</button>
              </div>

             
            </div>
          </div>
        </form>
      </div>
    </div>
    {{/unless}}
  </div>
</div>
<!-- Login End -->
